.div_1
{
    background-color: red;
    height: 200px;
    width: 515px;
}
.div_2
{
    background-color: lightblue;
    height: 200px;
    width: 515px;
}
.div_3
{
    background-color: purple;
    height: 200px;
    width: 515px;
}
.div_4
{
    background-color: red;
    height: 200px;    
}
.div_5
{
    background-color: lightblue;
    height: 200px;   
}
.div_6
{
    background-color: purple;
    height: 200px;
}